<nav class="navbar navbar-expand-sm bg-primary navbar-dark rounded-bottom">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/">WHAT IS MY SCHEDULE?</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/schedule">SCHEDULE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin">ADMIN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/v1/schedule/">API</a>
        </li>
    </ul>
</nav>